.nav-bar {
    background-color: rgb(30, 120, 123);
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #0d3076ee 2px solid;
}

.nav-field {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}